@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 768px;
  background-color: white;
  padding: 16px 16px;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
